//Color palette

//blue / Purple
$lightPurple: #EBE3F5;
$light: #FEFEFF;
$purple: #D6CFFF;
$darkPurple: #ABA0F9;
$blue: #7C80FC;
//white / gray
$white: #F0F0F0;
$lightGray: #CACACA;
$gray: #A3A3A3;
$dimGray: #7E7E7E;
$darkGray: #585858;

//defined main color
$mainBackground: $blue;
$buttonBorder: $dimGray;
$buttonHover: $dimGray;
$button: $gray;
$buttonDisabled: $lightGray;
$buttonBorderDeactivate: $gray;
//navbar color
$mainNavbarColor: #3B44F7;
$buttonNavbarHoverColor: $blue;
$mainNavbarTextColor: $lightGray;
$navigationBorder: #C1C1C1;

$dashboardNavigation: hsl(210, 10%, 27%);
$dashboardNavigationMain: #454545;
$dashboardNavigationActive: hsl(240, 4%, 20%);
$dashboardNavigationHover: hsl(210, 1%, 32%);
$dashboardNavigationBorder: hsl(240, 1%, 48%);
$dashboardNavigationTextColor: #EBEBEB;
$dashboardNavigationTextColorHover: #1AABEA;
$dashboardNavigationTitleText: hsl(210, 1%, 72%);
$dashboardNavigationActiveBorder: #3B44F7;