//Color palette

//blue / Purple
$lightPurple: #EBE3F5;
$light: #FEFEFF;
$purple: #D6CFFF;
$darkPurple: #ABA0F9;
$blue: #7C80FC;
//white / gray
$white: #F0F0F0;
$lightGray: #CACACA;
$gray: #A3A3A3;
$dimGray: #7E7E7E;
$darkGray: #585858;

//defined main color
$mainBackground: $blue;
$buttonBorder: $dimGray;
$buttonHover: $dimGray;
$button: $gray;
$buttonDisabled: $lightGray;
$buttonBorderDeactivate: $gray;
